h1 {
    text-align: center;
    margin-top: 0px;
}
h2 {
    text-align: center;
    margin-top: 0px;
}
p {
    text-align: center;
    margin-top: 0px;
}
ul {
    list-style-type: none;
    margin-left: 0px;
    margin-top: 30px;
}
li {
    text-align: center;
}